<div class="row">

  <div class="col-lg-3">

    <form id="search-form" (ngSubmit)="launchSearch()">
      <i class="material-icons" id="search-icon">search</i>
      <input autocomplete="off"
             [(ngModel)]="query" id="search" name="search"
             placeholder="Search a robot by name">
    </form>


    <!-- The Browse by model menu -->
    <div class="list-group">
      <h4 class="list-group-item w3-theme">Browse by model</h4>
      <a class="list-group-item pointer"
         (click)="browse(ALL_MODELS, undefined)"
         [ngClass]="{'selected': ALL_MODELS == activeModel}">All models</a>
      <a class="list-group-item pointer"
         *ngFor="let model of models"
         (click)="browse(model.name)"
         [ngClass]="{'selected': model.name == activeModel}">{{model.label}}</a>
    </div>
  </div>
  <div class="col-lg-9">

    <!-- If there are no robots, display an information message -->
    <div class="row">
      <div *ngIf="robots === undefined || robots.length == 0" class="info">There is no robot here :(</div>
    </div>

    <!-- The robot card -->
    <div class="row" *ngIf="robots != undefined">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let robot of robots">
        <div class="card h-100 position-relative">

          <!-- Delete icon -->
          <!--TODO visible only if logged in-->
          <i class="material-icons delete-icon" (click)="openDeleteDialog(robot)">highlight_off</i>

          <div [ngClass]="{'sold-out': robot.soldout}">
            <img class="card-img-top"
                 src="https://robohash.org/{{robot.pictureHash}}">
          </div>
          <div class="card-body centered">
            <h4 class="card-title">{{robot.name}}</h4>
            <h6>{{getModelLabel(robot.model)}}</h6>
            <h6>{{robot.price}} €</h6>
          </div>
          <button mat-raised-button class="button-buy" (click)="buyRobot(robot)" [disabled]="robot.soldout">
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="pageEvent.length"
                 [pageSize]="pageEvent.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="browse(activeModel, $event)">
  </mat-paginator>

</div>

