@import "../../../../variables";

h4.list-group-item {
  color: $white;
  background-color: $dark-theme;
}

.list-group {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.list-group-item:hover:not(:first-child) {
  background-color: $lightest-theme;
}

.selected {
  background-color: $lightest-theme;
}

.list-group-item:first-child {
  border-radius: 12px 12px 0 0;
}

.list-group-item:last-child {
  border-radius: 0 0 12px 12px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  background-color: #ffffff;
}

.card-img-top {
  border-radius: 12px 12px 0 0;
}

img {
  height: 253px;
  width: 253px;
}

button {
  background-color: $light-theme;
  border-radius: 0 0 12px 12px;
  color: $white;
  font-size: x-large;
  margin-top: auto;
  text-align: center;
  height: 50px;
}

button:hover {
  background-color: $theme;
}

button:focus{
  outline: none;
}

.info {
  color: grey;
  font-size: 35px;
  margin: 3rem;
}

.sold-out {
  position: relative;
}

.sold-out::before {
  content: url(../../../../assets/soldout.png);
  transform: scale(.25);

  position: absolute;
  z-index: 2;
  top: 0;
  left: 8;
  width: 20px;
  height: 20px;
}

