/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #eeeeee;
  padding-top: 80px;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.big-font {
  font-size: 1.6em;
  font-weight: bold;
}
